    /*Contenedor para las cajas*/
    .wrapper{
        display: flex;
        width: auto;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
    }
    .card1 {
        background-image: url('../media/AMorroa.jpg');
        background-size: cover; 
        background-position: center; 
    }

    .card2 {
        background-image: url('../media/CasaCulMorr.png');
        background-size: cover;
        background-position: center;
    }

    .card3 {
        background-image: url('../media/hilaza.jpg');
        background-size: cover;
        background-position: center;
    }

    .card4 {
        background-image: url('../media/Sampues.jpg');
        background-size: cover;
        background-position: center;
    }

    .card5 {
        background-image: url('../media/sombrero.jpg');
        background-size: cover;
        background-position: center;
    }

    .card{
        flex: 1;
        height: 100%;
        transition: flex 0.5s ease;
        cursor: pointer;
    }

    .card:hover{
        flex: 3;
    }
    
    .description{
        width: 900px;
        text-align: center;
    }
