.main {
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: calc(100vh - 140px); /* Resta la altura del header y footer */
   padding: 20px;
}
.index-container {
    background-color: #fff7ef;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Asegura que los elementos hijos estén en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
}
.index-container h1 {
    text-align: center;
    color: #965a38;
    margin-bottom: 20px;
}